@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;

}
.title {
  background-image: url("./images/bg-desktop-light.jpg");
  width: 100vw;
  height: 45vh;
  display: flex;
  align-items: center;
}
h2 {
  color: aliceblue;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(66, 64, 64);

  /* 
    min-height: 100vh;
    color:rgb(39, 36, 36);
    
    padding:10px;
   
    */
}
form {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 40vw;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding:2rem;
  border-radius: 1rem;
  position: absolute;
  margin-top: 18rem;
  
}
form input,
form button {
  border: none;
  font-size: 2rem;
}
form input {
  
  outline: none;
}

form button {
  cursor: pointer;
  transition: all 0.3s ease;
  color: black;
  transition: all 0.6s ease;
}
form button:hover {
 
}

.input-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom,rgba(75, 75, 76, 0),rgba(76, 75, 75, 0));
  height: 10%;
}
.input-section input{
  height: 100%;
  background: linear-gradient(to right bottom,rgba(75, 75, 76, 0.4),rgba(76, 75, 75, 0));
}
.input-section button{
  height: 100%;
  color:rgb(172, 165, 165);
  background-color: rgb(66, 64, 64);
  background: linear-gradient(to right bottom,rgba(75, 75, 76, 0.4),rgba(76, 75, 75, 0));
}
.input-section button:hover{
  color:rgb(207, 200, 200)
}
.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  overflow-x: hidden;
  margin-top: 1rem;
  height: 180%;
 position: relative;

}
.todo-list {
  width: 100%;
  height: 100%;
  list-style: none;
 

}
.todo {
  
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  align-items: center;
  transition: all 0.6s ease;
  position: relative;
  height: 3.5rem;

}
.todo-item {
  flex: 1;
  padding: 0.6rem;
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  font-size: 1.1rem;
  height: 100%;
  width: 100%;
  background:rgba(75, 75, 76);
}

.complete-btn {
  padding: 0.5rem;
  color: rgb(66, 64, 64);
  cursor: pointer;
  transition: all 0.3s ease;
 
  font-size: 1.5rem;
  position:absolute;
  right:100%;
  height: 100%;
  background-color: rgb(66, 64, 64);
}

.checked{
  border-radius: 360px;
  font-size: 1.5rem;
  color: rgb(180, 174, 174);
}
.complete-btn:hover {

}
.trash-btn {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  font-size: 1.5rem;
  color: rgb(165, 158, 158);
  position:absolute;
  left:100%;
  height: 100%;
  background-color: rgb(66, 64, 64);
  
}
.trash-btn:hover {
  color: rgb(226, 75, 75);
}
.check:hover{
 
}
.check{
  transition: 0.3;
  border: 1px solid rgba(235, 230, 230, 0.6);
  border-radius: 360px;
}
.check,
.trash {
  pointer-events: none;
}

.completed {
  text-decoration:transparent;
  text-decoration: line-through;
}

.fall {
  transform: translateY(13rem) rotateZ(60deg);
  opacity: 0;
}
.filter-todo div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.filter-todo button:hover{
  background-color: rgb(90, 88, 88);
}
.select {
  height: 25%;
  margin-top: 1rem;
  width: 100%;
  align-items: center;
}

.filter-todo .filter-display{
  width: 40%;
  height: 100%;
}
.filter-todo .filter-display button{
width: 100%;
margin:0 0.5rem;
padding:0.5rem;
}
.filter-todo .clear-completed{
  width: 30%;
}
.filter-todo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.filter-todo div button {
  height: 100%;
}
.filter-todo button{
  background-color: rgb(66, 64, 64);
  color: white;
  font-size: 0.7rem;
  height: 100%;
  padding:0.5rem;
}
.todo-button {
  height: 2rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-input {
  height: 3rem;
  padding: 16px;
  font-size: medium;
  width: 35vw;
  color: white;
  background-color: rgb(66, 64, 64);
}
.plus-icon {
  font-size: 30px;
  margin-top: 5px;
}
.todo-item::placeholder {
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
@media (max-width: 500px) {
  body {
    width: 100%;
  }
}
